<!doctype html>
<html lang="en" ng-app="ICWalkApp">
<head>
  <meta charset="UTF-8">
  <title>Example - example-ngList-directive-newlines-production</title>
  <link rel="stylesheet" href="css/ICWalk.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script  type="text/javascript" src="js/reviewController.js"></script>
    
    
    </head>
<body ng-controller="reviewController">
    <div class="mainPanel">
        <table class="headerPanel"><tr>
            <td class="leftBox">D59S</td>
            <td class="centerBox">SKU  207-585 <br>27-GAL. TOUGH Tote</td>
            <td class="rightBox">7</td></tr></table>
    <div class="subPanel"></div>
    <form name="ReviewForm">
        <table>
                <th colspan="2">2017</th>
                <tr  ng-repeat="x in myData"  ng-if="x.EventId==1"><td>{{x.CoreType}}</td></tr>
                <tr  ng-repeat="x in myData"  ng-if="x.EventId==1"><td>{{x.Price_Strategy}}</td></tr>
                <tr  ng-repeat="x in myData"  ng-if="x.EventId==1"><td>{{x.Ad_Retail}}</td></tr>
                <tr ng-repeat="x in myData"  ng-if="x.EventId==1"><td>{{x.Total_Buy_Units}}</td></tr>
                <tr  ng-repeat="x in myData"  ng-if="x.EventId==1"><td>{{x.Total_Buy}}</td></tr>
                <tr  ng-repeat="x in myData"  ng-if="x.EventId==1"><td>{{x.Projected_Sell_Thru}}</td></tr>
                <tr ng-repeat="x in myData"  ng-if="x.EventId==1"><td>{{x.Forecasted_Sales}}</td></tr>
            
            </table>
        
            <label>Approve :
    <input type="checkbox" ng-model="apprv.value1">
  </label> <label>Reject:
    <input type="checkbox" ng-model="checkboxModel.value1">
  </label><br/>
    <label> Comments :  <textarea ng-model="list" ng-list="&#10;" ng-trim="false"></textarea>  </label><br/>
                 <input type="button" ng-model="Submit" name="submit" value="Submit"/>
        
        </form>
        </div>

</body>
</html>