<div>
<style type="text/css">
     .mainPanel {
    border: 10px solid rgb(212,212,212);
    width: 400px; 
    height: 600px
}
.subPanel {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 120px;
}
.headerPanel{
  width: 400px;
    height:95px;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
   }
.leftBox{
    padding: 10px;
    width: 50px;
    overflow: auto;
    background-color: #AF7AC5;
}
.centerBox{
    background-color: #dddddd;
    width: 200px;
    overflow:auto;
}
.rightBox{
    width: 75px; 
    background-color: #ffffff;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 400px;
    height: 1   00px;
    padding-left: 8px;
    
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    border: 1px solid black;
    background-color: #dddddd;
    
}
tr:nth-child(odd) {
    border: 1px solid black;
    background-color: #ffffff;
    
}
.center-block{
	display: block;
    margin-left: 116px;
    margin-right: auto
}
    </style>
    <div class="panel panel-default" style="background-color:#DCDCDC;  height: 838px ; border-style: ridge; ">
  			<div class="panel-body">
    	     <div class="list-group table-responsive" >
    		   <table class="col-sm-12">
	      	  	<tr>
	          		<td class="leftBox">D59S</td>
	            	<td class="centerBox">SKU  {{palletDtlCtrl.palletDto.skuNbr}} <br>{{palletDtlCtrl.palletDto.skuDescription}}</td>
	            	<td class="rightBox">7</td>
	            </tr>
			   </table>
			  </div>
  			 </div>
  			 <div class="container-fluid" style = "padding-left: 41%;">
  			 <div class="navbar-brand">
					<img src="app/images/Img-1.jpg" height="100" width="120">
				</div>
  			 </div>
  			 <div class="panel-body" style="margin-top: 35px;padding-bottom: 265px;">
    	     <div class="list-group table-responsive" >
    		   <table class="col-sm-12" style="margin-bottom: 23px;>
	      	  	<th colspan="2">2017</th>
		                <tr><td class="col-md-8">Core / Non Core</td><td class="col-md-4">{{palletDtlCtrl.palletDto.CoreType}}</td></tr>
		                <tr><td>Price Strategy</td><td>{{palletDtlCtrl.palletDto.priceStrategy}}</td></tr>
		                <tr><td>Ad Retail</td><td>{{palletDtlCtrl.palletDto.adRetail}}</td></tr>
		                <tr><td>Total Buy Units</td><td>{{palletDtlCtrl.palletDto.totalBuyUnits}}</td></tr>
		                <tr><td>Total Buy $</td><td>{{palletDtlCtrl.palletDto.totalBuy}}</td></tr>
		                <tr><td>Projected Sell Thru %</td><td>{{palletDtlCtrl.palletDto.projectedSellThru}}</td></tr>
		                <tr><td>Forcasted Sales $ </td><td>{{palletDtlCtrl.palletDto.forecastedSales}}</td></tr>
			   </table>
			  </div>
			  		<label style = "margin-bottom: 23px;" >Approve :
				    	<input type="checkbox" ng-model="apprv.value1">
				  	</label> 
				  	<label>Reject:
				  	   <input type="checkbox" ng-model="checkboxModel.value1">
				 	</label><br/>
				    <label> Comments : 
				        <textarea style="border-style: ridge;" ng-model="list" ng-list="&#10;" ng-trim="false"> </textarea> 
					</label><br/><br/>
					<div class="container-fluid" style="padding-left: 68%;">
						<button class="md-button md primary" style = "color: black; background-color: white; width: 93px; height: 48px; " data-ng-click= "palletDtlCtrl.backToPalletFixtures()">Back</button>
						<button class="md-button md primary " style = "color: black; width: 93px; height: 48px; " data-ng-click="palletDtlCtrl.submitReview()">Submit</button>	
					</div>
  			 </div>
			
  	</div>
    
 
</div>