<div>
<style type="text/css">
     .mainPanel {
    border: 10px solid rgb(212,212,212);
    width: 400px; 
    height: 600px
}
.subPanel {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 120px;
}
.headerPanel{
  width: 400px;
    height:95px;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
   }
.leftBox{
    padding: 10px;
    width: 50px;
    overflow: auto;
    background-color: #AF7AC5;
}
.centerBox{
    background-color: #dddddd;
    width: 200px;
    overflow:auto;
}
.rightBox{
    width: 75px; 
    background-color: #ffffff;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 400px;
    height: 1   00px;
    padding-left: 8px;
    
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    border: 1px solid black;
    background-color: #dddddd;
    
}
tr:nth-child(odd) {
    border: 1px solid black;
    background-color: #ffffff;
    
}
    </style>
    
    
    <div class="col-sm-12">
    	<div class="list-group table-responsive">
    		<table class="col-md-10">
	      	  	<tr>
	          		<td class="leftBox">D59S</td>
	            	<td class="centerBox">SKU  {{palletDtlCtrl.palletDto.skuNbr}} <br>{{palletDtlCtrl.palletDto.skuDescription}}</td>
	            	<td class="rightBox">7</td>
	            </tr>
			</table>
          
	        <div class="col-sm-10">
	        	<span style="padding-left:60px;">
	        		<img src="app/images/Img-1.jpg" class="img-responsive center-block" height="100" width="120">
	        	</span> 
	        </div>
	        <div class="table-responsive">
		        <table class="col-md-12">
		                <th colspan="2">2017</th>
		                <tr><td class="col-md-8">Core / Non Core</td><td class="col-md-4">{{palletDtlCtrl.palletDto.CoreType}}</td></tr>
		                <tr><td>Price Strategy</td><td>{{palletDtlCtrl.palletDto.priceStrategy}}</td></tr>
		                <tr><td>Ad Retail</td><td>{{palletDtlCtrl.palletDto.adRetail}}</td></tr>
		                <tr><td>Total Buy Units</td><td>{{palletDtlCtrl.palletDto.totalBuyUnits}}</td></tr>
		                <tr><td>Total Buy $</td><td>{{palletDtlCtrl.palletDto.totalBuy}}</td></tr>
		                <tr><td>Projected Sell Thru %</td><td>{{palletDtlCtrl.palletDto.projectedSellThru}}</td></tr>
		                <tr><td>Forcasted Sales $ </td><td>{{palletDtlCtrl.palletDto.forecastedSales}}</td></tr>
		            
				</table>
			</div>
			<div clas="col-md-12">
				        <!-- <label>Approve :
				    <input type="checkbox" ng-model="apprv.value1">
				  </label> <label>Reject:
				    <input type="checkbox" ng-model="checkboxModel.value1">
				  </label><br/>
				    <label> Comments :  <textarea ng-model="list" ng-list="&#10;" ng-trim="false"></textarea>  </label><br/><br/>
				     -->
			</div>
		    <div class="md-card-title-border">
				<!-- <span class="md-headline mct-title">Fixtures</span> -->
				<button class="md-button md tertiary" data-ng-click="palletDtlCtrl.backToPalletFixtures()">Back</button>
				<button class="md-button md primary pull-right" data-ng-click="palletDtlCtrl.submitReview()">Submit</button>
			</div>
       
        </div>
	</div>
</div>